################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/WebSocket-AMX/v3
/.vs/WindowsFormsApp1/v15
/.vs/TP4Unzip/v15
/.vs/TP4Unzip/v16/Server/sqlite3
/.vs/slnx.sqlite
