<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TP4Unzip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <TP4Unzip.Properties.Settings>
            <setting name="FileNameTp4" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="ConnHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ConnPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="JsFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="JsVariableName" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateJson" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateSegmentInfo" serializeAs="String">
                <value>False</value>
            </setting>
        </TP4Unzip.Properties.Settings>
    </userSettings>
</configuration>
